<%= form_with(model: encription, local: true) do |form| %>
  <% if encription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(encription.errors.count, "error") %> prohibited this encription from being saved:</h2>

      <ul>
      <% encription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :encription_name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :encription_value %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :encription_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
